
{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block body %}
  <p class="fs-3 text-center">THE ADVENTURE CLUB.</p>
  <BR>
  <BR>
  <p class="text-center">info info info info info info info info info info info info info info info info info info info info info info info info</p>

{% endblock %}